button {
  margin: 10px 10px;
  width: 150px;
}

button::after {
  content: "Pasa por encima";
}
button:hover {
  color: white;
  background-color: green;
  content: none;
}
button:hover::after {
  content: "Hecho!";
}
