h1 {
  text-align: center;
  color: darkblue;
}

.galeria {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: fit-content;
}

img {
  width: 300px;
  border-radius: 17%;
  box-shadow: 15px;
  padding: 15px;
}
